<h1 align="center">Lethe</h1>
    <p align="center">
      <b>
        Never lose track of your stuff again!
      </b>
    </p>

    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

